.custom-logo{
    display: flex;
    text-decoration: none;
    width: fit-content !important;
}
.custom-logo p{
    font-size: 32px;
    font-weight: 800;
    margin-left: 18px;
    margin-top: 10px;
    letter-spacing: 3px;
    color: #272A5F;
    width: 160px;margin-bottom: 8px;
}
@media (min-width: 992px){
.sidebar-mini.sidebar-collapse.layout-fixed .brand-link {
    width: 100% !important;
}
}