<div class="row styled-row align-items-center">
  <div class="col-lg-6">
    <div class="breadcrumb__main_wrapper">
      <h6 class="mb-0">Facility</h6>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="action__btn_wrapper">
      <ul class="justify-content-end">
        <li *ngIf="service.IsAuthorized('14')">
          <button [routerLink]="['/add-facility','0']" class="common-btn-style"><img
              src="../../../../assets/dist/img/plus.svg"> Add Facility</button>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="row mt-5">
  <div class="col-lg-12">
    <div class="datatbale__main__wrapper">
      <dx-data-grid [dataSource]="facilitiesList" [columnAutoWidth]="true" [columnResizingMode]="'widget'"
        [filterRow]="{ visible: true }" [paging]="{ pageSize: 10, pageIndex: 0 }" [searchPanel]="{ visible: true }"
        [showBorders]="true" [showRowLines]="true" [showColumnLines]="true" [sorting]="{ mode: 'multiple' }"
        [allowColumnReordering]="true">

        <dxi-column caption="Actions" alignment="center" cellTemplate="facilitiesList"></dxi-column>

        <div *dxTemplate="let d of 'facilitiesList'">

          <button class="custom__btn custom__btn_edit" *ngIf="service.IsAuthorized('14')" (click)="EditFac(d)"><i
              class="fa fa-edit"></i></button>
          <button class="custom__btn custom__btn_denger" *ngIf="service.IsAuthorized('16')"
            (click)="DeleteFacility(d.data)"><i class="fa fa-trash"></i></button>

        </div>
        <dxi-column caption="Facility Id" dataField="facilityId"></dxi-column>
        <dxi-column caption="Facility Name" dataField="facilityName"></dxi-column>
        <dxi-column caption="Facility Count" dataField="count"></dxi-column>
        <dxo-header-filter class="test" [visible]="true" class="test"></dxo-header-filter>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
      </dx-data-grid>
      <div class="mt-2">
        <h4>Total Records: {{total_facility}}</h4>
      </div>
    </div>
  </div>
</div>