<div class="row styled-row align-items-center">
    <div class="col-lg-6">
        <div class="breadcrumb__main_wrapper">
            <h6 class="mb-0">Role</h6>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="action__btn_wrapper">
            <ul class="justify-content-end">
                <li>
                    <button (click)="openPopup(content)" class="common-btn-style"><img
                            src="../../../../assets/dist/img/plus.svg"> Add Role</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-12">
        <div class="datatbale__main__wrapper">
            <dx-data-grid [dataSource]="roleList" [columnAutoWidth]="true" [columnResizingMode]="'widget'"
                [filterRow]="{ visible: true }" [paging]="{ pageSize: 10, pageIndex: 0 }"
                [searchPanel]="{ visible: true }" [showBorders]="true" [showRowLines]="true" [showColumnLines]="true"
                [sorting]="{ mode: 'multiple' }" [allowColumnReordering]="true">

                <dxi-column caption="Actions" alignment="center" cellTemplate="discountCellTemplate"></dxi-column>

                <div *dxTemplate="let d of 'discountCellTemplate'">
                    <a (click)="EditRole(d.data,content)"><i class="fa fa-edit mr-2"></i></a>
                </div>

                <dxi-column caption="Role Id" dataField="roleId"></dxi-column>
                <dxi-column caption="Role Name" dataField="roleName"></dxi-column>

                <dxo-header-filter class="test" [visible]="true" class="test"></dxo-header-filter>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-group-panel [visible]="true"></dxo-group-panel>

            </dx-data-grid>
            <div class="mt-2">
                <h4>Total Records: {{total_roles}}</h4>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Role</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="roleModal" (ngSubmit)="AddUpdateRole()">
            <div class="row">
                <div class="col-lg-12">
                    <input type="hidden" formControlName="RoleId">
                    <div class="form-input-wrapper">
                        <label class="form-label">Role Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Role Name" formControlName="RoleName"
                            tabindex="1" maxlength="50">
                        <small class="text-muted ps-3 text-danger"
                            *ngIf="f['RoleName'].invalid && f['RoleName'].touched">
                            <small class="text-muted text-danger" *ngIf="f['RoleName'].errors?.['required']">
                                Role Name is required.
                            </small>
                        </small>
                    </div>
                </div>
            </div>
            <div class="text-end pr-2 mt-5">
                <button type="submit" class="btn btn-primary me-2" [innerHTML]="button_text"></button>
                <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
            </div>
        </form>
    </div>
</ng-template>